/*Instalar bootstrap con este comando: npm i bootstrap@5.3.3*/
h1{
    text-align:center;
    color: rgb(165, 42, 104);
    font-family: 'BigNoodleTitling';
    font-style: italic;
    font-size: 42px;
}

.img-fluid{
    width: 300px; /* Specify the width */
    height: 200px; /* Specify the height */
    background-image: url('resources/Happy.gif'); /* Initial background image */
    background-repeat: no-repeat;
    background-position: 0px -40px;
    background-size: cover; /* Cover the entire area of the element */
    transition: background-image 0.2s ease-in-out; /* Smooth transition */
    border-style: double;
    border-color: rgb(221, 171, 182);
    border-radius: 50%;
}

.img-fluid:hover{
    background-position: 0px;
    background-image: url('resources/Fresh.gif'); /* Change on hover */
    border-style: double;
    border-color: rgb(221, 171, 182);
    border-radius: 50%;
}

img:hover{
    border-style: double;
    border-color: rgb(221, 171, 182);
    border-radius: 50%;
}

body{
background-color: rgb(224, 212, 190);
text-align: center;
}

div{
    background-color: rgb(221, 171, 182);
    width: 50%;
    height: 100%;
    margin: auto;
    border-style:dotted;
    border-color: rgb(165, 42, 104);
}

button{
    background-color: white;
    font-weight: bolder;
}

label{
    background-color: white;
    font-weight: bolder;
    border-style: solid;
    border-width: 1px;
}